@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 300;
  src: url("../assets/fonts/Quicksand-Light.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/Quicksand-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/Quicksand-Medium.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/Quicksand-Bold.ttf") format("truetype");
  font-display: swap;
}