.login {
	width: 100%;
  height: 100vh;
  padding-top: 54px;
	display: grid;
	place-items: center;

  .login-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 339px;

    .login-container__button {
      all: unset;
      display: none;
      position: absolute;
      right: 18px;
      top: 21.86px;

      img {
        width: 18px;
      }
    }

    .login-container__logo {
      width: 206px;
      margin: 114px 0 48px;
      justify-self: center;
      display: none;
    }

    .login__form {
      display: flex;
      flex-direction: column;

      .login__form--label {
        font-size: var(--sm);
        font-weight: 700;
        margin-bottom: 6px;
      }

      .input {
        height: 42px;
        font-weight: 400;
        background-color: var(--text-input-field);
        color: var(--very-light-pink);
        border: none;
        border-radius: 10px;
        font-size: var(--md);
        padding: 0 8px;
      }

      .login__form--input-mail {
        margin-bottom: 24px;
      }

      .login__form--input-password {
        margin-bottom: 10px;
      }

      label.error {
        color: var(--text-error-field)
      }

      input.error {
        background-color: var(--input-error-data);
        border: 1px solid var(--text-error-field);
      }

      .login__form--input-error {
        color: var(--text-error-field);
        font-size: var(--sm);
        font-weight: 400;
        text-align: center;
      }

      .login__form--login-button {
        height: 59px;
        background-color: var(--hospital-green);
        border-radius: 10px;
        border: none;
        color: var(--white);
        font-size: var(--md);
        font-weight: 700;
        margin-top: 32px;
        margin-bottom: 30px;
        cursor: pointer;

        &:active, &.active {
          background-color: var(--very-light-pink);
        }
      }

      a {
        color: var(--hospital-green);
        font-size: var(--sm);
        text-align: center;
        text-decoration: none;
        margin-bottom: 60px;
      }
    }

    .login__signup-button {
      height: 59px;
      background-color: var(--white);
      border-radius: 10px;
      border: 1px solid var(--hospital-green);
      color: var(--hospital-green);
      font-size: var(--md);
      font-weight: 700;
      cursor: pointer;
    }
  }

  @media (max-width: 640px) {
    place-items: start;
    justify-content: center;

    .login-container {
      .login-container__logo {
        display: block;
      }
    }
  }

  @media (max-width: 413px) {
    position: absolute;
    background-color: white;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;

    .login-container {
      .login-container__button {
        display: block;
      }
    }
  } 
}  
