.search {
  display: flex;
  padding: 97px 52px 42px;
  gap: 24px;

  .search__container {
    display: flex;
    align-items: center;
    width: 339px;
    height: 42px;
    background-color: var(--text-input-field);
    border: 1px solid var(--text-input-field);
    border-radius: 10px;
    padding: 0 14px;

    input {
      width: 250px;
      background: transparent;
      border: none;
      font-family: inherit;
      font-size: var(--md);
      font-weight: 300;
      outline: none;
      margin-left: 10px;
      
      &::placeholder {
        font-weight: 500;
      }
    }
  }

  .search__nav {
    display: none;
    width: 100%;
    overflow-x: scroll;    
    
    &::-webkit-scrollbar {
      display: none;
    }

    ul {
      display: flex;
      align-items: center;
      list-style: none;   
      
      li a {
        text-decoration: none;
        border: 1px solid var(--white);
        padding: 5px 14px 6px;
        border-radius: 10px;
        color: var(--very-light-pink);

        &.active {
          border: 1px solid var(--hospital-green);
          color: var(--hospital-green);
        }
      }
    }    
  }

  .search__container--filter {
    display: flex;
    align-items: center;
    position: relative;

    h5 {
      font-size: var(--sm);
    }

    button {
      all: unset;
      font-weight: 400;
      font-size: var(--sm);
      cursor: pointer;
    }
    
    ul {
      width: 134px;
      list-style: none;
      position: absolute;
      border-radius: 5px;
      background-color: var(--white);
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.119789);
      padding: 9px;
      margin-top: 3px;

      li {
        text-decoration: none;

        button:hover {
          font-weight: 700;
        }
      }
    }

    .search__button--filter {
      margin-left: 4px;

      img {
        width: 6px;
        margin-left: 4px;
        transform: rotate(90deg);
      }
    }
  }

  @media (max-width: 938px) {
    padding: 97px 18px 42px;
  }

  @media (max-width: 640px) {
    gap: 7px;
	}

  @media (max-width: 524px) {
    flex-wrap: wrap;
    justify-content: center;
    padding: 67px 18px 24px;

    .search__nav {
      display: flex;
      height: 34px;
      margin: 10px 0;
    }
	}      
}